h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
}

.titleh1 {
    font-size: 70px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7em;
}

a {
    text-decoration: none;
}

body {
    background-color: #211A1D;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

.header {
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 50px;
    color: #F8F0FB;
}

.header a {
    float: left;
    color: #F8F0FB;
    text-align: center;
    padding: 12px;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 18px;
    width: 100px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    width: 45px;
    padding: 0px;
    margin: 0px 20px;
    animation: fadein;
    animation-duration: 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header a:hover {
    background-color: #F8F0FB;
    color: #211A1D;
}

.header a.active {
    background-color: #5057E8;
    color: #F8F0FB;
}

.header a.logo:hover {
    background-color: #211A1D;
}



.introimg {
    margin-top: 100px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    animation-name: intro;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}

.introimgtext {
    display: block;
    color: #F8F0FB;
    font-size: 5em;
    animation-name: intro;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

@keyframes intro {
    0% {
        width: 20vw;
        opacity: 0.25;
    }

    100% {
        width: 25vw;
        opacity: 1;
    }
}

.introtext {
    display: block;
    background-color: #F8F0FB;
    padding: 50px 50px;
    font-size: 40px;
    box-shadow: inset 0 0 30px #000000;
}

.abouttext {
    color: #F8F0FB;
    display: block;
    padding: 20px 50px;
    margin: 50px 0px;
    font-size: 40px;
}

.abouttext2 {
    color: #F8F0FB;
    display: block;
    background-color: #5057E8;
    padding: 50px 50px;
    font-size: 40px;
    box-shadow: inset 0 0 30px #000000;
}

.footer {
    position: relative;
    height: 100px;
    padding: 20px;
    color: #F8F0FB;
    font-family: "Ubuntu", sans-serif;
}

.footertext{
    position:absolute;
    bottom: 20px;
}

.btndiv {
    width: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projectstextdiv {
    color: #211A1D;
    text-align: center;
    padding: 5px;
    height: 10vh;
    width: 23vw;;
    font-size: 0.8em;
    background-color: #F8F0FB;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    vertical-align: middle;
    transition: 1s;
    transition-timing-function: ease;
    text-shadow: 0px 1px 0px #000000;
}

.projectstextdiv:hover {
    width: 27vw;
    height: 12vh;
    font-size: 1em;
    background-color: white;
    cursor: pointer;
}

.projectsBtn {
    background: linear-gradient(to bottom, #F8F0FB 5%, #ccc2a6 100%);
    background-color: #F8F0FB;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #211A1D;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: lighter;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.aboutprofileimg {
    height: 400px;
    width: 285px;
    float: right;
    margin: 15px;
    box-shadow: 0 0 10px #000000;
    border-radius: 5px;
}


.aboutmetext {
    color: #F8F0FB;
    overflow: auto;
    display: block;
    background-color: #5057E8;
    padding: 50px 50px;
    font-size: 40px;
    box-shadow: inset 0 0 30px #000000;
}

.aboutmetext2 {
    color: #F8F0FB;
    display: flex;
    padding: 20px 50px;
    margin: 50px 0px;
    font-size: 40px;
}

.gallerywrapper{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.galleryrow{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 5px;
    width: 100%;

}

.gallerycolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#gallerygraphics{
    max-width: 55%;
}

.gallerycolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
    box-shadow: 0 0 3px #000000;
    border-radius: 3px;
}


.projectsBtn:hover {
    background: linear-gradient(to bottom, #ccc2a6 5%, #F8F0FB 100%);
    background-color: #ccc2a6;
}

.projectsBtn:active {
    position: relative;
    top: 1px;
}

.projectsTitle {
    text-align: center;
    color: #F8F0FB;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projectsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projectsItem {
    width: 250px;
    height: 300px;
    margin: 50px 50px;
    background-color: #5057E8;
    color: #F8F0FB;
    line-height: 30px;
    text-align: center;
    transition: 1s;
    transition-timing-function: ease;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
}

.projectsItem h1 {
    margin-top: 30%;
}

.projectsItem:hover {
    width: 300px;
    height: 350px;
    cursor: pointer;
    background-color: #F8F0FB;
    color: #211A1D;
}

.thumbnail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    line-height: 25px;
}

.modal p{
    font-size: 15px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 800px) {

    .introimg {
    margin-top: 100px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
    animation-name: none;
}

    .introimgtext {
    animation-name: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35vh;
}

    @keyframes intro {
    0% {
        width: 40vw;
        opacity: 0.25;
    }

    100% {
        width: 55vw;
        opacity: 1;
    }
}

    .header {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 00px;
    color: #F8F0FB;
}

.header a {
    float: left;
    color: #F8F0FB;
    text-align: center;
    padding: 12px;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 18px;
    width: 100px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    display: none;
    font-size: 25px;
    font-weight: bold;
    width: 45px;
    padding: 0px;
    margin: 0px;
}

    .projectstextdiv{
        width: 55vw;
        height: 10vh;
    }

    .projectstextdiv:hover{
        font-size: 0.8em;
        width: 55vw;
    }

    .projectsItem {
    width: 250px;
    height: 200px;
    margin: 20px 50px;
    background-color: #5057E8;
    color: #F8F0FB;
    line-height: 30px;
    text-align: center;
    transition: 1s;
    transition-timing-function: ease;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
}

    .aboutprofileimg{
        margin: 20px 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .projectsItem:hover {
    height: 250px;
    cursor: pointer;
    background-color: #F8F0FB;
    color: #211A1D;
}

  .gallerycolumn {
    flex: 100%;
    max-width: 100%;
  }

    #gallerygraphics{
    flex: 100%;
    max-width: 100%;
    }
}
